<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2021 Dickson Lab.<br /> Made with ❤️ by Baijie P. </p>
              <p>We are part of the <a href="https://chemistry.gatech.edu/faculty/Dickson">Georgia Tech Chemistry & Biochemistry</a> at <a href="https://www.gatech.edu">Georgia Institute of Technology</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		  Funding:<br />
		  - <a href="https://www.nsf.gov/">National Science Foundation </a> <br />
		  - <a href="https://www.nih.gov/">National Institutes of Health</a>
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Molecular Science & Engineering <br /> 
		  Georgia Institute of Technology <br />
		  Atlanta GA 30332<br />
		  USA <br />
            (<a href="https://goo.gl/maps/u6b6BF4J78FoWtgu8">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
